<span [ngSwitch]="weatherDescription.icon">
	<template ngSwitchCase="01n">
		<img src="http://openweathermap.org/img/w/01n.png">
	</template>
	<template ngSwitchCase="02n">
		<img src="http://openweathermap.org/img/w/02n.png">
	</template>
	<template ngSwitchCase="03n">
		<img src="http://openweathermap.org/img/w/03n.png">
	</template>
	<template ngSwitchCase="04n">
		<img src="http://openweathermap.org/img/w/04n.png">
	</template>
	<template ngSwitchCase="05n">
		<img src="http://openweathermap.org/img/w/05n.png">
	</template>
	<template ngSwitchCase="06n">
		<img src="http://openweathermap.org/img/w/06n.png">
	</template>
	<template ngSwitchCase="07n">
		<img src="http://openweathermap.org/img/w/07n.png">
	</template>
	<template ngSwitchCase="08n">
		<img src="http://openweathermap.org/img/w/08n.png">
	</template>
	<template ngSwitchCase="09n">
		<img src="http://openweathermap.org/img/w/09n.png">
	</template>
	<template ngSwitchCase="10n">
		<img src="http://openweathermap.org/img/w/10n.png">
	</template>
	<template ngSwitchCase="01d">
		<img src="http://openweathermap.org/img/w/01d.png">
	</template>
	<template ngSwitchCase="02d">
		<img src="http://openweathermap.org/img/w/02d.png">
	</template>
	<template ngSwitchCase="03d">
		<img src="http://openweathermap.org/img/w/03d.png">
	</template>
	<template ngSwitchCase="04d">
		<img src="http://openweathermap.org/img/w/04d.png">
	</template>
	<template ngSwitchCase="05d">
		<img src="http://openweathermap.org/img/w/05d.png">
	</template>
	<template ngSwitchCase="06d">
		<img src="http://openweathermap.org/img/w/06d.png">
	</template>
	<template ngSwitchCase="07d">
		<img src="http://openweathermap.org/img/w/07d.png">
	</template>
	<template ngSwitchCase="08d">
		<img src="http://openweathermap.org/img/w/08d.png">
	</template>
	<template ngSwitchCase="09d">
		<img src="http://openweathermap.org/img/w/09d.png">
	</template>
	<template ngSwitchCase="10d">
		<img src="http://openweathermap.org/img/w/10d.png">
	</template>
	<template ngSwitchDefault>
		<span>no icon</span>
	</template>
</span>
