<div class="row" [paintCity]="cityWeather.main.temp" *customIf="index<settings.numberOfCities">
	<div class="col-md-1">
		<button (click)="deleteCity()" *customIf="settings.canDelete">del</button>
		<button *customIf="!cityWeather.favourite" (click)="markFafourite()">*</button>
	</div>
	<div class="col-md-2">
		<span *customIf="cityWeather.favourite">*</span>
		<span>{{cityWeather.name | uppercase}}</span>
	</div>
	<div class="col-md-3">
		(lat: {{cityWeather.coord.lat | number : fractional}}, 
		lon:{{cityWeather.coord.lon | number : fractional}})
	</div>
	<div *customIf="settings.temp === 'celsiys'"
		class="col-md-1">{{cityWeather.main.temp | temperatureConverter | number : '.2-2'}}&#176;C</div>
	<div *customIf="settings.temp === 'kelvin'"
		class="col-md-1">{{cityWeather.main.temp | number : '.2-2'}}&#176;K</div>
	<div class="col-md-1">
		<app-show-icon [weatherDescription]="cityWeather.weather[0]"></app-show-icon>
	</div>
	<div class="col-md-1" *customIf="settings.showWind">
		<app-show-wind [wind]="cityWeather.wind"></app-show-wind>
	</div>
</div>